<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page" style="display: flex;justify-content: center;width: 100%;">
    <h4>Gerenciamento de Contatos</h4>
    </li>
  </ol>
</nav>
<div class="container">
  <div class="card">
    <h5 class="card-header">Lista de Contatos</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cod. Pessoa</th>
            <th scope="col">Pessoa</th>
            <th scope="col">Numero</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pp of personPhones">
            <td>{{pp.businessEntityID}}</td>
            <td>{{pp.person.name}}</td>
            <td>{{pp.phoneNumber}}</td>
            <td>{{pp.phoneNumberType.name}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" (click)="editPersonPhone(pp)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ml-1"
                (click)="deletePersonPhone(pp.businessEntityID, pp.phoneNumberTypeID)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Adicionar/Atualizar Contato</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && savePersonPhone(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="businessEntityID">Pessoa</label>
          <select [(ngModel)]="personPhone.businessEntityID" required class="form-control" id="businessEntityID"
            name="businessEntityID" [ngClass]="{ 'is-invalid': f.submitted && !personPhone.businessEntityID }">
            <option *ngFor="let p of persons" [value]="p.businessEntityID">
              {{p.name}}
            </option>
          </select>
          <div *ngIf="f.submitted && !personPhone.businessEntityID" class="invalid-feedback">
            <div *ngIf="!personPhone.businessEntityID">Pessoa é obrigatória</div>
          </div>
        </div>
        <div class="form-group">
          <label for="PhoneNumber">Numero</label>
          <input type="text" [(ngModel)]="personPhone.phoneNumber" id="PhoneNumber" name="PhoneNumber" #model="ngModel"
            required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !personPhone.phoneNumber }"
            placeholder="Digite o numero">
          <div *ngIf="f.submitted && !personPhone.phoneNumber" class="invalid-feedback">
            <div *ngIf="!personPhone.phoneNumber">Numero é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="PhoneNumberTypeID">Tipo</label>
          <select [(ngModel)]="personPhone.phoneNumberTypeID" required class="form-control" id="PhoneNumberTypeID"
            name="PhoneNumberTypeID" [ngClass]="{ 'is-invalid': f.submitted && !personPhone.phoneNumberTypeID }">
            <option *ngFor="let pnt of phoneNumberTypes" [value]="pnt.businessEntityID">
              {{pnt.name}}
            </option>
          </select>
          <div *ngIf="f.submitted && !personPhone.phoneNumberTypeID" class="invalid-feedback">
            <div *ngIf="!personPhone.phoneNumberTypeID">Tipo é obrigatória</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
